In [1]:
"""string operations

string operation bhaneko string ma garne operation
"""

'string operations\n\nstring operation bhaneko string ma garne operation\n'

In [3]:
name = "thor ahsdfkhaguosdgfiasu fgua"
len(name)

29

In [4]:
len("my name is ram i am agood bo asdhfkjashbfkas")

44

In [9]:
len("234524") # len is a str operation that's why it only takes string as an input

6

In [12]:
askdgflasjdh = "ram"
len(askdgflasjdh)

3

In [ ]:
name = str(input("what is your name: "))
length = len(name)
length

5

In [ ]:
len("my name") # len function counts space as well

7

In [21]:
line = "my name is khan and i am not a terrorist. srk is the best actor ever"
len(line)
line.split() # split returns a list of whatever you decide to split

['my',
 'name',
 'is',
 'khan',
 'and',
 'i',
 'am',
 'not',
 'a',
 'terrorist.',
 'srk',
 'is',
 'the',
 'best',
 'actor',
 'ever']

In [22]:
[1, 2, 3, 4, 5] # -> List

[1, 2, 3, 4, 5]

In [23]:
"kata hideko balera hot bhayera".split()

['kata', 'hideko', 'balera', 'hot', 'bhayera']

In [ ]:
len(text)
# replace()

6

In [28]:
a = 1
a = a
a

1

In [1]:
text = "ram is"
text = text.replace(' ', '')
len(text)

5

In [2]:
a = 'ram is the best in the world. ram is not hancy. '
a.replace('ram', 'bimal')

'bimal is the best in the world. bimal is not hancy. '

In [3]:
a = 'ram is the best in the world. ram is not hancy. '
b = a.replace('.', '').replace(' ', '')
len(b)

35

In [4]:
name = 'ram'
name.upper()

'RAM'

In [5]:
name = 'SITA'
name.lower()

'sita'

In [6]:
"ram kumar".capitalize().replace('k', 'K')

'Ram Kumar'

In [7]:
name = "   ram    "
name.strip()

'ram'

In [8]:
a = "      ram is the best       "
a.strip() # strip removes the space from the starting and ending of a string

'ram is the best'