In [1]:
1+2

3

In [5]:
# 4-2 hi how are you

In [ ]:
1+2
3+4
3/2 # only the last line is getting executed

1.5

In [2]:
'''
multilined comment in python 
'''

'\nmultilined comment in python \n'

In [8]:
# this is how single line comment is defined


'''this is how multilined comment is defined'''

'this is how multilined comment is defined'

In [9]:
'''
python data types:
1. int: example-> 1, 2, 4, 4325, 
2. str: example-> "orange", 'apple', "anishka", 
3. bool: example-> boolean full form. example-> True, False
'''

'\npython data types:\n1. int: example-> 1, 2, 4, 4325, \n2. str: example-> "orange", \'apple\', "anishka", \n3. bool: example-> boolean full form. example-> True, False\n'

In [11]:
type(34)

int

In [14]:
type('apple')

str

In [15]:
type(True)

bool

In [16]:
type(False)

bool

In [18]:
# variable 

'''
variable is a user defined object that stores any value given by the user 
'''

'\nvariable is a user defined object that stores any value given by the user \n'

In [20]:
a = 1
a

1

In [21]:
b = 23
b

23

In [23]:
a = 1
b = 2
a + b

3

In [24]:
a - b

-1

In [25]:
a * b

2

In [26]:
a / b

0.5

In [27]:
a = "apple"
a

'apple'

In [28]:
a = True
a

True

In [ ]:
a = "Ram"
b = "Kumar"
a + b # string concatination

'RamKumar'

In [ ]:
a = True
b = False
a + b

In [8]:
print('''
arithmetic operators:
+, -, /, *

//: floor division 
%: modulus (remainder)
**: Exponent (square)
''')

arithmetic operators:
+, -, /, *

//: floor division
%: modulus (remainder)
**: Exponent (square)

In [6]:
5 % 2 # % modulus, // floor division

1

In [7]:
5 // 2

2

In [7]:
print('''
comparision operators:

== : equal to 
!= : not equal to 
> : greater than
< : less than 
>= : greater than or equal to 
<= ; less than or equal to 
''')

comparision operators:

== : equal to
!= : not equal to
> : greater than
< : less than
>= : greater than or equal to
<= ; less than or equal to

In [13]:
2 == 6789

False

In [15]:
3.24 == 3.56789

False

In [12]:
"abc" == "aidbjfa"

False

In [19]:
"test" != "test"

False

In [21]:
3>2, 5<7, 2>3, 7<5

(True, True, False, False)

In [27]:
5 >= 6, 6 <= 6

(False, True)

In [6]:
print('''
logical operators:

and:True if both conditions are true 
or: True if at least one of the conditions is true
not: negates the condition 
''')

logical operators:

and:True if both conditions are true
or: True if at least one of the conditions is true
not: negates the condition

In [35]:
not 5==5

False