In [93]:
'''Python data type, data store 
1. list 
2. tuple 
3. dictionary
'''

'Python data type, data store \n1. list \n2. tuple \n3. dictionary\n'

In [94]:
# List -> [int, str, bool]

a = [1, 2, 3, 4, 5] # int values
# 01234... indexing

In [95]:
type(a)

list

In [96]:
b = ["ram", "shyam", "hari"] # str values
b

['ram', 'shyam', 'hari']

In [97]:
c = [True, False] # bool value
c

[True, False]

In [98]:
d = [1, 2, 3, "ram", "hari", True, False] # all the data types 
d

[1, 2, 3, 'ram', 'hari', True, False]

In [99]:
d.append("ram") # append adds the value to the last 
d

[1, 2, 3, 'ram', 'hari', True, False, 'ram']

In [100]:
d # list can have multiple duplicate values

[1, 2, 3, 'ram', 'hari', True, False, 'ram']

In [101]:
huge_list = [i for i in range(1, 10001)]
huge_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478,
 479,
 480,
 481,
 482,
 483,
 484,
 485,
 486,
 487,
 488,
 489,
 490,
 491,
 492,
 493,
 494,
 495,
 496,
 497,
 498,
 499,
 500,
 501,
 502,
 503,
 504,
 505,
 506,
 507,
 508,
 509,
 510,
 511,
 512,
 513,
 514,
 515,
 516,
 517,
 518,
 519,
 520,
 521,
 522,
 523,
 524,
 525,
 526,
 527,
 528,
 529,
 530,
 531,
 532,
 533,
 534,
 535,
 536,
 537,
 538,
 539,
 540,
 541,
 542,
 543,
 544,
 545,
 546,
 547,
 548,
 549,
 550,
 551,
 552,
 553,
 554,
 555,
 556,
 557,
 558,
 559,
 560,
 561,
 562,
 563,
 564,
 565,
 566,
 567,
 568,
 569,
 570,
 571,
 572,
 573,
 574,
 575,
 576,
 577,
 578,
 579,
 580,
 581,
 582,
 583,
 584,
 585,
 586,
 587,
 588,
 589,
 590,
 591,
 592,
 593,
 594,
 595,
 596,
 597,
 598,
 599,
 600,
 601,
 602,
 603,
 604,
 605,
 606,
 607,
 608,
 609,
 610,
 611,
 612,
 613,
 614,
 615,
 616,
 617,
 618,
 619,
 620,
 621,
 622,
 623,
 624,
 625,
 626,
 627,
 628,
 629,
 630,
 631,
 632,
 633,
 634,
 635,
 636,
 637,
 638,
 639,
 640,
 641,
 642,
 643,
 644,
 645,
 646,
 647,
 648,
 649,
 650,
 651,
 652,
 653,
 654,
 655,
 656,
 657,
 658,
 659,
 660,
 661,
 662,
 663,
 664,
 665,
 666,
 667,
 668,
 669,
 670,
 671,
 672,
 673,
 674,
 675,
 676,
 677,
 678,
 679,
 680,
 681,
 682,
 683,
 684,
 685,
 686,
 687,
 688,
 689,
 690,
 691,
 692,
 693,
 694,
 695,
 696,
 697,
 698,
 699,
 700,
 701,
 702,
 703,
 704,
 705,
 706,
 707,
 708,
 709,
 710,
 711,
 712,
 713,
 714,
 715,
 716,
 717,
 718,
 719,
 720,
 721,
 722,
 723,
 724,
 725,
 726,
 727,
 728,
 729,
 730,
 731,
 732,
 733,
 734,
 735,
 736,
 737,
 738,
 739,
 740,
 741,
 742,
 743,
 744,
 745,
 746,
 747,
 748,
 749,
 750,
 751,
 752,
 753,
 754,
 755,
 756,
 757,
 758,
 759,
 760,
 761,
 762,
 763,
 764,
 765,
 766,
 767,
 768,
 769,
 770,
 771,
 772,
 773,
 774,
 775,
 776,
 777,
 778,
 779,
 780,
 781,
 782,
 783,
 784,
 785,
 786,
 787,
 788,
 789,
 790,
 791,
 792,
 793,
 794,
 795,
 796,
 797,
 798,
 799,
 800,
 801,
 802,
 803,
 804,
 805,
 806,
 807,
 808,
 809,
 810,
 811,
 812,
 813,
 814,
 815,
 816,
 817,
 818,
 819,
 820,
 821,
 822,
 823,
 824,
 825,
 826,
 827,
 828,
 829,
 830,
 831,
 832,
 833,
 834,
 835,
 836,
 837,
 838,
 839,
 840,
 841,
 842,
 843,
 844,
 845,
 846,
 847,
 848,
 849,
 850,
 851,
 852,
 853,
 854,
 855,
 856,
 857,
 858,
 859,
 860,
 861,
 862,
 863,
 864,
 865,
 866,
 867,
 868,
 869,
 870,
 871,
 872,
 873,
 874,
 875,
 876,
 877,
 878,
 879,
 880,
 881,
 882,
 883,
 884,
 885,
 886,
 887,
 888,
 889,
 890,
 891,
 892,
 893,
 894,
 895,
 896,
 897,
 898,
 899,
 900,
 901,
 902,
 903,
 904,
 905,
 906,
 907,
 908,
 909,
 910,
 911,
 912,
 913,
 914,
 915,
 916,
 917,
 918,
 919,
 920,
 921,
 922,
 923,
 924,
 925,
 926,
 927,
 928,
 929,
 930,
 931,
 932,
 933,
 934,
 935,
 936,
 937,
 938,
 939,
 940,
 941,
 942,
 943,
 944,
 945,
 946,
 947,
 948,
 949,
 950,
 951,
 952,
 953,
 954,
 955,
 956,
 957,
 958,
 959,
 960,
 961,
 962,
 963,
 964,
 965,
 966,
 967,
 968,
 969,
 970,
 971,
 972,
 973,
 974,
 975,
 976,
 977,
 978,
 979,
 980,
 981,
 982,
 983,
 984,
 985,
 986,
 987,
 988,
 989,
 990,
 991,
 992,
 993,
 994,
 995,
 996,
 997,
 998,
 999,
 1000,
 ...]

In [102]:
len(huge_list), len("ram")

(10000, 3)

In [103]:
huge_list[-3]

9998

In [104]:
a = [0, 1, 2, 3, 4, 5]
a[0]

0

In [105]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
# fruits[starting index: ending index]
fruits[0:3]

['apple', 'banana', 'cherry']

In [106]:
fruits[0] = 'tomato'
fruits

['tomato', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [107]:
fruits
fruits[0:2]

['tomato', 'banana']

In [108]:
fruits[-4:-1]

['cherry', 'orange', 'kiwi']

In [109]:
fruits[1]

'banana'

In [110]:
fruits[0] = 'tomato'
fruits

['tomato', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [111]:
fruits.insert(4, True)

In [112]:
fruits

['tomato', 'banana', 'cherry', 'orange', True, 'kiwi', 'mango']

In [113]:
fruits.insert(10, 'ram')
fruits

['tomato', 'banana', 'cherry', 'orange', True, 'kiwi', 'mango', 'ram']

In [114]:
fruits.append('hari')
fruits

['tomato', 'banana', 'cherry', 'orange', True, 'kiwi', 'mango', 'ram', 'hari']

In [115]:
one_hundred = [i for i in range(1, 101)]
hundred_2h = [i for i in range(101, 201)]

In [116]:
one_hundred

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100]

In [117]:
one_hundred.extend(hundred_2h)
print(one_hundred)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [135]:
one_hundred = [i for i in range(1, 101)]
hundred_2h = [i for i in range(101, 201)]

one_hundred.extend(hundred_2h)

In [137]:
a = [1, 2, 3, 4, 5, 6]
b = [6, 7, 8, 9, 10]
b.extend(a)
b

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6]

In [138]:
# tuple 
# (value1, value2)

In [139]:
type((1, 2, 3, 67)) # 2 or more values inside parenthesis

tuple

In [140]:
("a", "ram")

('a', 'ram')

In [141]:
(True, False)

(True, False)

In [142]:
type((1, 2, "hi")) # all data types can be added in a tuple

tuple

In [143]:
list1 = [1, 2, 3, 4, 5]
tup1 = (6, 7)
list1.extend(tup1)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

In [147]:
thislist = ["apple", "banana", "cherry", "cherry", "cherry", "cherry"]
thislist.remove("cherry")
thislist

['apple', 'banana', 'cherry', 'cherry', 'cherry']

In [126]:
thislist.pop(0) # pop removes the item specified at the index

'apple'

In [127]:
thislist

['banana', 'cherry', 'cherry', 'cherry']

In [149]:
len(fruits)

6

In [150]:
# 0, 1, 2, 3, 4, 5, 6
fruits[6] # index out of range means the list has ended

IndexError: list index out of range

In [151]:
fruits
fruits.pop(-1)
print(fruits)

['banana', 'cherry', 'orange', True, 'kiwi']

In [131]:
fruits
fruits.pop() # pop by default removes the last item of the list 
print(fruits)

['tomato', 'banana', 'cherry', 'orange', True, 'kiwi', 'mango']

In [152]:
fruits
del fruits[0] # del is also used to remove the item given in the index
print(fruits)

['cherry', 'orange', True, 'kiwi']

In [153]:
test = [1, 2, 3]
del test

In [154]:
test # del can also remove a list entirely

NameError: name 'test' is not defined

In [ ]:
test = [1, 2, 3]
test.clear

In [ ]:
test = [1, 2, 3]
test.clear() # returns an empty list by removing all the items inside the list 
print(test)

[]

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana", "apple"]
thislist.sort() # if str, sorts alphabetically 
print(thislist)

['apple', 'banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [ ]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana", "apple"]
thislist.sort(reverse=True) # descending order
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana', 'apple']

In [ ]:
another_list = [1, 234, 413242, 223, 23]
another_list.sort() # if int, ascending sorting
print(another_list)

[1, 23, 223, 234, 413242]

In [ ]:
another_list = [1, 234, 413242, 223, 23]
another_list.sort(reverse=True) # descending order
print(another_list)

[413242, 234, 223, 23, 1]

In [155]:
thislist

['apple', 'banana', 'cherry', 'cherry', 'cherry']

In [156]:
a = thislist.copy() # copy creates a copy of the list 
print(a)

['apple', 'banana', 'cherry', 'cherry', 'cherry']

In [157]:
a == thislist

True

In [ ]:
a

['pineapple', 'orange', 'mango', 'kiwi', 'banana', 'apple']

In [ ]:
# b = a.copy() 
b = list(a) # creates a copy of the list 
print(b)

['pineapple', 'orange', 'mango', 'kiwi', 'banana', 'apple']

In [ ]:
a == b

True

In [ ]:
thislist = ["apple", "banana", "cherry", "cherrypie"]
mylist = thislist[:] # ":" this symbol selects everything
print(mylist)

['apple', 'banana', 'cherry', 'cherrypie']

In [ ]:
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]

list3 = list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [158]:
thistuple = ("apple", "banana", "cherry")
len(thistuple)

3

In [ ]:
thistuple[0:2] # same as list

('apple', 'banana')

In [ ]:
list1 = [1, 2, 4]
# first access 4
# change the value then
list1[-1] = 3
print(list1)

[1, 2, 3]

In [159]:
thistuple[0] = "cherry" # tuples are immutable. 
# immutable means you cannot change the valuse assigned inside a tuple (value change garna mildaina tuple ma)

TypeError: 'tuple' object does not support item assignment

In [ ]:
thistuple

('apple', 'banana', 'cherry')

In [160]:
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple") # no comma, so python doesnot recognize this as a tuple
print(type(thistuple))

<class 'tuple'>
<class 'str'>

In [ ]:
a = list((1, 2, 3))
print(a)

[1, 2, 3]

In [161]:
b = tuple((1, 2, 3, "ram")) # whatever is given to this "tuple", becomes a tuple
print(type(b))

<class 'tuple'>

In [162]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [ ]:
x = ("apple", "banana", "cherry")
x

('apple', 'banana', 'cherry')

In [ ]:
y = list(x)
y

['apple', 'banana', 'cherry']

In [ ]:
y[0] = 'karela'
y

['karela', 'banana', 'cherry']

In [ ]:
z = tuple(y)
print(z)

('karela', 'banana', 'cherry')

In [169]:
a = ('mira', 'bimala')
# convert to list first
b = list(a)
b[0] = 'radha'
# convert back to tuple
c = tuple(b)
c

('radha', 'bimala')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [171]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple = thistuple + y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [172]:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.remove("apple")
thistuple = tuple(y)
print(thistuple)

('banana', 'cherry')

In [ ]:
del thistuple

In [ ]:
print(thistuple)

NameError: name 'thistuple' is not defined

In [ ]:
coordinates = (100, 200)

In [ ]:
coordinates

(100, 200)

In [ ]:
# tuple unpacking 
(x, y) = coordinates
print(x)
print(y)

100
200

In [ ]:
fruits = ("apple", "banana", "cherry")
(greenish, yellow, red) = fruits
print(greenish)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 3

print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [ ]:
mytuple.count("apple")

3

In [179]:
# dictionary [] (), {} curly braces   
# {key: value} pair. Dictionary is mutable
# alternate names: hashmap, associative array, map

# thisdict = {key: value}

thisdict = { # dictionary's value can contain multiple data types
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964,
    "is_electric": False
}

In [180]:
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'is_electric': False}

In [ ]:
type(thisdict)

dict

In [173]:
student = dict(name='ram', age=23, is_student=True)
student

{'name': 'ram', 'age': 23, 'is_student': True}

In [ ]:
l = [1, 2, 3]
l[0]

1

In [177]:
student['is_student'] # access the value of the key

True

In [ ]:
a.get('year') # get the value of the key 'year'

1964

In [181]:
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'is_electric': False}

In [183]:
keys = thisdict.values()
keys # returns all the keys of the dictionary

dict_values(['Ford', 'Mustang', 1964, False])

In [ ]:
list(keys) # convert the keys to a list

['brand', 'model', 'year', 'is_electric']

In [ ]:
thisdict.values() # returns all the values of the dictionary

dict_values(['Ford', 'Mustang', 1964, False])

In [184]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}

print("Before changing: ", car)
car["brand"] = "Toyota" # change the value of the key 'brand'
print("After changing: ", car)

Before changing:  {'brand': 'Ford', 'model': 'Mustang', 'year': 1964}
After changing:  {'brand': 'Toyota', 'model': 'Mustang', 'year': 1964}

In [186]:
# dict doesnot allow duplicate keys
car1 = {'brand': 'Toyota', 'brand1': 'hyundei', 'model': 'Mustang', 'year': 1964}
car1

{'brand': 'Toyota', 'brand1': 'hyundei', 'model': 'Mustang', 'year': 1964}

In [187]:
car.items() # returns all the key-value pairs of the dictionary

dict_items([('brand', 'Toyota'), ('model', 'Mustang'), ('year', 1964)])

In [ ]:
car22 = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
car22['color'] = 'red' # add new key-value pair
print(car22)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
car22

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [ ]:
thisdict['is_electric'] = True 
thisdict

# another method
thisdict.update({'is_electric': False}) # updates the value of the key 'is_electric'
thisdict

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'is_electric': False}

In [ ]:
thisdict.pop('brand') # removes the key-value pair of the key 'brand'
print(thisdict)

{'model': 'Mustang', 'year': 1964, 'is_electric': False}

In [ ]:
l = [1, 2,3, 4, 5]
l.pop(1)

2

In [ ]:
print(l)

[1, 3, 4, 5]

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem() # removes the last inserted key-value pair
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [ ]:
thisdict.pop() # requires the key as an argument to remove the key-value pair

TypeError: pop expected at least 1 argument, got 0

In [189]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["brand"] # removes the key-value pair of the key given to it by the user
print(thisdict)

{'model': 'Mustang', 'year': 1964}

In [ ]:
del car
print(car) # deletes the entire dictionary

NameError: name 'car' is not defined

In [ ]:
car22.clear()
print(car22) # clears the entire dictionary

{}

In [ ]:
len(car1) # returns the number of key-value pairs in the dictionary

3

In [ ]:
car1

{'brand': 'hyundei', 'model': 'Mustang', 'year': 1964}

In [190]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

In [191]:
a = thisdict.copy() # creates a copy of the dictionary
print(a)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [192]:
print(a == thisdict) # returns true because a and thisdict have the same values
print(a is thisdict) # returns false because a and thisdict are different objects
print('''
a and thisdict have the same values but they are different objects i.e they are stored in different memory locations
''')

True
False

a and thisdict have the same values but they are different objects i.e they are stored in different memory locations

In [193]:
# Nested dictionary (dictionary inside a dictionary)
'''the keys in a nested dictionary can be repeated but the values cannot be repeated'''
my_family = {
    "child1": {
        "name": "Ram",
        "year": 2004,
        "score": [90, 12, 45]
    },
    "child2": {
        "name": "Shyam",
        "year": 2006,
        "score": [100, 23, 45]
    },
    "child3": {
        "name": "Hari",
        "year": 2008,
        "score": [90, 12, 45]
    },
    "daughter_list": ["a", "b", "c"]
}

In [197]:
my_family

{'child1': {'name': 'Ram', 'year': 2004, 'score': [90, 12, 45]},
 'child2': {'name': 'Shyam', 'year': 2006, 'score': [100, 23, 45]},
 'child3': {'name': 'Hari', 'year': 2008, 'score': [90, 12, 45]},
 'daughter_list': ['a', 'b', 'c']}

In [200]:
my_family['child1']['year'] # access the score of child1

2004

In [201]:
my_family['child3']['year']

2008

In [202]:
# child1 = {
#   "name" : "Emil",
#   "year" : 2004
# }
child1 = [1, 2, 4]

In [203]:
child2 = ("ram", "sita")

In [204]:
child3 = {
  "name" : "Linus",
  "year" : 2011
}

In [205]:
children = {
    "child1": child1,
    "child2": child2,
    "child3": child3
}
print(children)

{'child1': [1, 2, 4], 'child2': ('ram', 'sita'), 'child3': {'name': 'Linus', 'year': 2011}}

In [206]:
type(children['child2'])

tuple

In [207]:
# Sets {} -> sets are denoted by curly braces
# set is an unordered collection of unique elements
# set is mutable (values can be changed)

a = {1, 2, 3, 4, 5}
a

{1, 2, 3, 4, 5}

In [208]:
type(a)

set

In [209]:
name_list = ["ram" for _ in range(1, 11)]
name_list

['ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram', 'ram']

In [211]:
n2 = set(name_list) # set removes the duplicate values
n2

{'ram'}

In [212]:
n2 = list(n2) # set to list
n2

['ram']

In [213]:
a = [1, 2, 3, 4, 5, 5, 5, 5, 6, 7] # list
len(a)

10

In [214]:
b = set(a)
b = list(b) 
b

[1, 2, 3, 4, 5, 6, 7]

In [215]:
thisset = {"apple", "banana", "cherry", 1, 2, 3, True, False, {1 , 2, 4}} # set doesnot allow different data types (list, set, dict)
thisset

TypeError: unhashable type: 'set'

In [216]:
a = set(a)

In [217]:
a[0] # set doesnot support indexing

TypeError: 'set' object is not subscriptable

In [218]:
thisset = {"apple", "banana", "cherry"}

print("cherrypie" not in thisset)
print("cherrypie" in thisset)

True
False

In [219]:
thisset.add("orange") # add a new item to the set
print(thisset)

{'orange', 'cherry', 'apple', 'banana'}

In [220]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya", "cherry"}
thisset.update(tropical) # add multiple items to the set
print(thisset)

{'papaya', 'cherry', 'mango', 'pineapple', 'apple', 'banana'}

In [221]:
x = ["kiwi", "orange", "banana"]
thisset.update(x) # add multiple items to the set
print(thisset)

{'kiwi', 'papaya', 'orange', 'cherry', 'mango', 'pineapple', 'apple', 'banana'}

In [222]:
thisset.remove("banana") # remove removes the item from the set
print(thisset)

{'kiwi', 'papaya', 'orange', 'cherry', 'mango', 'pineapple', 'apple'}

In [223]:
thisset.discard("cherry") # discard removes the item from the set
print(thisset)

{'kiwi', 'papaya', 'orange', 'mango', 'pineapple', 'apple'}

In [224]:
thisset.remove("banana") # no "banana" in the set, so it raises an error
print(thisset)

KeyError: 'banana'

In [225]:
thisset.pop() # removes the first item from the set

'kiwi'

In [226]:
print(thisset)

{'papaya', 'orange', 'mango', 'pineapple', 'apple'}

In [227]:
thisset.pop(2) # pop doesnot take any argument, that is, pop in set, doesnot support indexing 
print(thisset)

TypeError: set.pop() takes no arguments (1 given)

In [228]:
thisset.clear() # removes everything from the set
thisset

set()

In [229]:
del thisset # deletes the set
thisset

NameError: name 'thisset' is not defined