In [5]:
print("hello world!!!")

hello world!!!

In [6]:
print("a")

a

In [7]:
p=25000
t=4
r=15
si=p*t*r/100
print(f"the si interest is: {si}")

the si interest is: 15000.0

In [8]:
#string functions
print("csit".capitalize())

Csit

In [9]:
print("my name is tathastu khadka. i am a bca student".replace("tathastu",""))

my name is  khadka. i am a bca student

In [10]:
print("heLLo gooOGlE".swapcase())

HEllO GOOogLe

In [11]:
print("heLLo gooOGlE".swapcase())

HEllO GOOogLe

In [12]:
a=[1, 2, 3, 4]
type(a)

list

In [ ]:
l= [1, 2, 3, 4 ,5]
l

list[1, 2, 3, 4, 5]

In [19]:
m=["ram", "shyam", "hari"]
m

['ram', 'shyam', 'hari']

In [20]:
m.extend(l)
m

['ram', 'shyam', 'hari', *list[1, 2, 3, 4, 5]]

In [21]:
m

['ram', 'shyam', 'hari', *list[1, 2, 3, 4, 5]]

In [22]:
l

list[1, 2, 3, 4, 5]

In [25]:
list= [ "ram", "hari", "pradhan"]
print(list)

['ram', 'hari', 'pradhan']

In [26]:
type(list)

list

In [27]:
list=tuple(list)

In [28]:
list

('ram', 'hari', 'pradhan')

In [29]:
list(-1)

TypeError: 'tuple' object is not callable

In [30]:
tuple(-1)

TypeError: 'int' object is not iterable

In [ ]:
huge_list = [i for i in range(1,99)]

In [ ]:
huge_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [ ]:
len(list)

3

In [ ]:
len(huge_list)

98

In [ ]:
huge_list[-1]

98

In [ ]:
huge_list[-50]

49

In [ ]:
fruits = ["apple", "banana", "mango", "guava", 'melon', 'pumkin', 'enjoy']
fruits

['apple', 'banana', 'mango', 'guava', 'melon', 'pumkin', 'enjoy']

In [ ]:
fruits.reverse
fruits

['apple', 'banana', 'mango', 'guava', 'melon', 'pumkin', 'enjoy']

In [ ]:
len(fruits)

7

In [ ]:
fruits[0:3]

['apple', 'banana', 'mango']

In [ ]:
fruits[0:-1]

['apple', 'banana', 'mango', 'guava', 'melon', 'pumkin']

In [ ]:
fruits[:]

['apple', 'banana', 'mango', 'guava', 'melon', 'pumkin', 'enjoy']

In [ ]:
fruits[:-3]

['apple', 'banana', 'mango', 'guava']

In [ ]:
fruits[3:]

['guava', 'melon', 'pumkin', 'enjoy']

In [ ]:
huge_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [ ]:
fruits.append(3)

In [ ]:
fruits

['apple', 'banana', 'mango', 'guava', 'melon', 'pumkin', 'enjoy', 3]

In [ ]:
fruits.append("coconut")

In [ ]:
fruits.remove("enjoy")
fruits

['apple', 'banana', 'mango', 'guava', 'melon', 'pumkin', 3, 'coconut']

In [ ]:
#tuple
a={'name':'RAM', "age":20, 'class':'+2',}
print(a)

{'name': 'RAM', 'age': 20, 'class': '+2'}

In [ ]:
a

{'name': 'RAM', 'age': 20, 'class': '+2'}

In [ ]:
huge_list

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98]

In [ ]:
huge_list.sort
print(huge_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [ ]:
huge_list.pop
print(huge_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98]

In [ ]:
print(huge_list[0:20])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
fruits = ("apple", "banana", "cherry")
(greenish, yellow, red) = fruits
print(greenish)
print(yellow)
print(red)

apple
banana
cherry

In [ ]:
type(fruits)

tuple

In [ ]:
fruits=list
print(fruits)

('ram', 'hari', 'pradhan')

In [ ]:
a=[1, 2, 3, 4,5]
a

[1, 2, 3, 4, 5]

In [ ]:
type(a)
print(a)

<class 'set'>

In [ ]:
a

set

In [ ]:
x= [1, 2, 3, 'ram', 'shyam', 'mango']
x

[1, 2, 3, 'ram', 'shyam', 'mango']

In [ ]:
x.append('oxygen')

In [ ]:
x

[1, 2, 3, 'ram', 'shyam', 'mango', 'oxygen']

In [ ]:
x.pop()

'oxygen'

In [ ]:
x

[1, 2, 3, 'ram', 'shyam', 'mango']

In [ ]:
x.append(0)

In [ ]:
x

[1, 2, 3, 'ram', 'shyam', 'mango', 0]

In [ ]:
one_hundred = [i for i in range(1, 101)]
hundred_2h = [i for i in range(101, 201)]

In [ ]:
one_hundred.extend(hundred_2h)
print(one_hundred)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200]

In [ ]:
a=list((1,2,3,4))
a

[1, 2, 3, 4]

In [ ]:
a
print(a[1:3])

[2, 3]

In [ ]:
a=set(('ram','shyam', 'hari','nelson'))
a

{'hari', 'nelson', 'ram', 'shyam'}